<nav class="navbar navbar-expand-lg sticky-top mt-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo" src="../../../assets/market/RS logo.svg" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav market1">
        <li class="nav-item">
          <a class="nav-link market fs-18 active" aria-current="page"
            >MARKET UPDATE REPORT <br />
            <span class="october same">OCTOBER 2022</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="banner-img space">
  <img class="banner" src="../../../assets/market/bannersam@3x.png" alt="" />
</div>
<!-- Brent Hodge Principles -->
<section>
  <div class="information">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12">
          <div class="heigh speed">
            <h2 class="welcome fs-22 fs-24 same">Hello & Welcome</h2>
            <p class="SERIES fs-18 same">
              TO THIS MONTHS SERIES OF QUARTELY MARKET UPDATES FROM ME - YOUR
              REAL SPECIALIST, BRENT HODGE
            </p>
            <p class="arrival same">
              With the arrival of Spring the Banora Point property market
              contines to remain resilient as supply begins to return to match
              calmer market conditions. <br /><br />
              Let me teake you through some of the recent sales highlights from
              our area and keep you up to date with other noteworth market
              changes as the peak selling season for our region approaches.
            </p>
            <div class="mb-5">
              <img src="../../../assets/market/SIGNATURE.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-12 col-sm-12">
          <div class="brent">
            <img src="../../../assets/market/Brent Hodge@3x.png" alt="" />
            <div class="rectangle">
              <p class="principle same fs-18">
                Brent Hodge<span class="princilpal-hudge">
                  &nbsp;&nbsp;&nbsp; Principal</span
                >
              </p>
              <a class="phone_Number fs-12 same d-flex"
                >0459 391 022
                <ul class="emai">
                  <li>
                    <a class="email fnt fs-12 same"
                      >brent.hodge@realspecialists.com
                    </a>
                  </li>
                </ul>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Brent's Listings  -->
<section class="">
  <div class="information">
    <div class="container">
      <div class="update">
        <h2 class="Listings fs-22 fs-24 same boyad">Brent's Listings</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card sameimg">
                      <div class="circle">
                        <a>active</a>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        5 / 19 Boyd Street, TWEED HEADS
                      </h4>
                      <p class="point">2 Bed | 1 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card1 sameimg">
                      <div class="circle">
                        <a>active</a>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        32 / 7 Border Drive North, CURRUMBIN WATERS
                      </h4>
                      <p class="point">3 Bed | 2 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card2 sameimg">
                      <div class="circle">
                        <a>active</a>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        64 Oyster Point Road, BANORA POINT
                      </h4>
                      <p class="point">6 Bed | 4 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card3 sameimg">
                      <div class="circle">
                        <a>active</a>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        12 Bosun Boulevard, BANORA POINT
                      </h4>
                      <p class="point">4 Bed | 2 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card4 sameimg">
                      <div class="circle">
                        <a>active</a>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        11 Champagne Drive, TWEED HEADS SOUTH
                      </h4>
                      <p class="point">3 Bed | 2 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card5 sameimg">
                      <div class="circle">
                        <a>active</a>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        9 / 10 Rutledge Street, COOLANGATTA
                      </h4>
                      <p class="point">3 Bed | 2 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- map start -->
<section>
  <div class="information">
    <div class="container-fluid">
      <div class="state_img boyad">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-sm-12">
              <div class="matter">
                <p class="every same fs-18">
                  We have specialists in every state, so no matter where you are
                  located - we have you covered.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-sm-12">
              <div class="text-center matter">
                <img
                  src="../../../assets/market/AUS MAP@3x.png"
                  width="100%"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Relevant Market Sales -->
<section>
  <div class="information">
    <div class="container">
      <div _ngcontent-eas-c48="" class="update">
        <h2 _ngcontent-eas-c48="" class="Listings fs-22 fs-24 same boyad">
          Relevant Market Sales
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card7 sameimg">
                      <div class="circle">
                        <a>sold</a>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        41 Binya Avenue, COOLANGATTA
                      </h4>
                      <p class="point same">4 Bed | 1 Bath</p>
                      <p class="point same">
                        Sold on 24 October 2022 <br />
                        <span class="Sold same"> Sold for $2,750,000</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card8 sameimg">
                      <div class="circle">
                        <a>sold</a>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        12 Glebe Place, <br />
                        BANORA POINT
                      </h4>
                      <p class="point same">3 Bed | 2 Bath</p>
                      <p class="point same">
                        Sold on 27 September 2022 <br />
                        <span class="Sold same"> Sold for $2,250,000</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card9 sameimg">
                      <div class="circle">
                        <a>sold</a>
                      </div>
                    </div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        119 Darlington Drive, BANORA POINT
                      </h4>
                      <p class="point same">4 Bed | 2 Bath</p>
                      <p class="point same">
                        Sold on 11 July 2022 <br />
                        <span class="Sold same">Sold for $5,750,000</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- video of brent hodge -->
<section>
  <div class="information">
    <div class="container-fluid">
      <div class="Place">
        <div class="popup boyad">
          <video
            class="videoPlayer"
            controls
            (canplay)="pauseVideo(videoplayer)"
            #videoPlayer
          >
            <source src="{{ videoSource }}" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Brent Hodge? -->
<section>
  <div class="information">
    <div class="container">
      <div class="chose boyad">
        <div class="grid">
          <div class="one">
            <h2 class="welcomeChoose fs-22 same">Why Choose Brent Hodge?</h2>
          </div>
          <div class="two">
            <h4 class="sales_property same">81</h4>
            <div class="career"></div>
            <p class="Property_sal">Sales Property sold</p>
          </div>
          <div class="three">
            <h4 class="sales_property same">2014</h4>
            <div class="career"></div>
            <p class="Property_sal">Real Specialists agent since</p>
          </div>
          <div class="four">
            <h4 class="sales_property same">36</h4>
            <div class="career"></div>
            <p class="Property_sal">Days - Average sales closed</p>
          </div>
          <div class="five dissmiss"></div>
          <div class="six">
            <h4 class="sales_property same">$527 k</h4>
            <div class="career"></div>
            <p class="Property_sal">Average sale price</p>
          </div>
          <div class="seven">
            <h4 class="sales_property same">$41,500 k</h4>
            <div class="career"></div>
            <p class="Property_sal">Dollar value of sales volume</p>
          </div>
          <div class="eight">
            <h4 class="sales_property same">35</h4>
            <div class="career"></div>
            <p class="Property_sal">
              Sales Number of sales in the last 12 months
            </p>
          </div>
          <div class="nine dissmiss"></div>
          <div class="ten">
            <h4 class="sales_property same">5</h4>
            <div class="career"></div>
            <p class="Property_sal">Years experience</p>
          </div>
          <div class="eleven">
            <h4 class="sales_property same">81</h4>
            <div class="career"></div>
            <p class="Property_sal">Sales Number of career properties</p>
          </div>
          <div class="twelve">
            <h4 class="sales_property same">62%</h4>
            <div class="career"></div>
            <p class="Property_sal">Auction clearance rate</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 12 Bosun Boulevard -->
<section>
  <div class="information">
    <div class="container-fluid">
      <div class="bosun boyad">
        <div class="ship_imgs">
          <div class="boulevard">
            <h2 class="pointBosun outlined same">12 Bosun Boulevard</h2>
            <p class="outcome fs-18 fs-22 same">BANORA POINT, qld 4225</p>
          </div>
        </div>
        <div class="analysis">
          <div class="update">
            <h2 class="chance fs-22 fs-24 same">Property Analysis</h2>
          </div>
          <div class="analy speed">
            <p class="return same p-3">
              12 Bosun Boulevard is an exceptionally desirable property in a
              beautiful location. We are grateful for the opportunity to present
              you with our proposal and we would love the chance to team up with
              you on this journey. We have outlined our marketing strategy,
              timeline and associated costs below. We are devoted to helping you
              achieve the most favourable outcome and believe that the
              investment we have outlined below will yield you a high return, as
              we have demonstrated with similar case studies.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Important Property Information -->
<section>
  <div class="container">
    <div class="information">
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-12">
          <h2 class="InfoProperty fs-22 mt-5 fs-24 same">
            Important Property <br />
            Information
          </h2>
          <table class="table mt-5">
            <tbody>
              <tr>
                <td>Property Type</td>
                <td>Unit</td>
              </tr>
              <tr>
                <td>Property Area</td>
                <td>280</td>
              </tr>
              <tr>
                <td>Bedrooms</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Bathrooms</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Car Spaces</td>
                <td>Unit</td>
              </tr>
              <tr>
                <td style="border-bottom: none">Local Authority</td>
                <td style="border-bottom: none">
                  GOLD COAST CITY (GOLD COAST)
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 col-xl-6 col-xxl-6 col-md-6 col-12">
          <div class="map_img">
            <img class="maped" src="../../../assets/market/map@3x.png" alt="" />
            <div class="mt-3">
              <a class="google same"
                >VIEW IN GOOGLE MAPS &nbsp;
                <img src="../../../assets/market/arrow.png" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Your Marketing Timeline -->
<section>
  <div class="container">
    <div class="information">
      <h2 class="InfoProperty fs-22 mt-5 fs-24 same">
        Your Marketing Timeline
      </h2>
      <p class="channels mt-4 fs-18">
        Working with our in-house marketing team, I will target the right
        audience across the most effective channels through cohesive branding to
        eleveate the style and story of your home.
      </p>
      <div class="row mt-5">
        <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-6 col-sm-12">
          <div>
            <div class="separator">
              <h2 class="">1</h2>
              <div class="line"></div>
            </div>
            <ul class="unOrderList">
              <li>
                <h4 class="Database my-4 same fs-18">
                  Database Phase - 2 Weeks
                </h4>
              </li>
              <li>Floor plan and 3D walk through</li>
              <li>Photos and Video pack</li>
              <li>Private inspections - By Appointment</li>
              <li>Weekly newsletters to beachfront database</li>
              <li>Professional Telemarking to beachfront clients</li>
              <li>Direct text messages to all active buyers</li>
              <li>Waynebisgrove.com.au - web site</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-6 col-sm-12">
          <div>
            <div class="separator">
              <h2>2</h2>
              <div class="line"></div>
            </div>
            <ul class="unOrderList">
              <li>
                <h4 class="Database fs-18 my-4 same">
                  Marketing Phase - 4 Weeks
                </h4>
              </li>
              <li>Realestate.com.au - premier</li>
              <li>domain.com.au - standard</li>
              <li>Targeted social media promotions</li>
              <li>Real Specialists Magazine - full page</li>
              <li>Professional Brochure and Mail out</li>
              <li>Open homes - each weekend (where available)</li>
              <li>Gather market feedback on price</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-6 col-sm-12 mt-5">
          <div>
            <div class="separator">
              <h2>3</h2>
              <div class="line"></div>
            </div>
            <ul class="unOrderList">
              <li>
                <h4 class="Database fs-18 my-4 same">
                  Auction / Expressions of interest
                </h4>
              </li>
              <li>Book Auctioneer</li>
              <li>In room Auction event</li>
              <li>Create competition between all qualified buyers</li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-xxl-6 col-lg-6 col-md-6 col-sm-12 mt-5">
          <div>
            <div class="separator">
              <h2>4</h2>
              <div class="line"></div>
            </div>
            <ul class="unOrderList">
              <li>
                <h4 class="Database fs-18 my-4 same">
                  Continued Marketing If Needed
                </h4>
              </li>
              <li>Price property according to market feedback</li>
              <li>Continue online marketing</li>
              <li>Continue both private inspections and opens</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="separator mt-5">
        <h2>5</h2>
        <div class="line"></div>
      </div>
      <ul class="unOrderList">
        <li>
          <h4 class="Database fs-18 my-4 same">Sold</h4>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Commission Structure -->
<section>
  <div class="container-fluid">
    <div class="information">
      <div class="commission">
        <div class="container">
          <div class="update">
            <h2 class="struct fs-22 fs-24 same boyad">Commission Structure</h2>
          </div>
          <p class="via">
            We believe that the most effective method for optimizing the value
            of your property is via the marketing campaign we have outlined. We
            will require an exclusive agency agreement from acceptance of this
            proposal for a period of 90 days.
          </p>
          <div class="agency">
            <a class="periodof campaign">2.5%</a>
          </div>
          <div class="update">
            <h2 class="acceptance fs-22 fs-24 same boyad">Indicative Value</h2>
          </div>
          <div class="agency">
            <a class="periodof">$3,250,000 - $3,500,000</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Current Market - Buyer Demand -->
<section>
  <div class="information boyad">
    <div class="containner">
      <div class="update">
        <h2 class="Demand fs-22 fs-24 same">Current Market - Buyer Demand</h2>
      </div>
      <div class="analy speed">
        <p class="limited same">
          Correctly assessing how many potential buyers are in a position to
          purchase your property, and how many will register their interest is
          essential in pricing the property. <br /><br />
          There are two main ways to describe the style of demand within the
          property market. In a sellers market there is a high numbers of buyers
          and a limited supply of properties. In a buyers market there is large
          demand for buyers due to a high amount of properties listed on the
          market. There are a number of levers we can call upon to market your
          property and bring you the best result within the current market
          conditions
        </p>
      </div>
      <div class="circuleLinetop scaled">
        <img
          class="graphLinestop"
          src="../../../assets/market/top.png"
          alt=""
        />
        <p class="register">20%</p>
      </div>
      <div class="update">
        <img class="graph" src="../../../assets/market/graph@3x.png" alt="" />
      </div>
      <div class="circuleLineS scaled">
        <img
          class="graphLinesBottom"
          src="../../../assets/market/lines@3x.png"
          alt=""
        />
        <p class="register80">80%</p>
      </div>
    </div>
  </div>
</section>
<!-- Past Sales -->
<section>
  <div class="information boyad">
    <div class="container">
      <div class="update">
        <h2 class="Demand fs-22 fs-24 same">Past Sales</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card10 sameimg"></div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        7 / 7-9 Parry Street, <br />
                        TWEED HEADS SOUTH
                      </h4>
                      <p class="point">2 Bed | 2 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card11 sameimg"></div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        1 / 21 Cassidy Crescent, <br />
                        BOGANGAR
                      </h4>
                      <p class="point">3 Bed | 2 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card12 sameimg"></div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        1 / 98 Terranora Road, BANORA <br />
                        POINT
                      </h4>
                      <p class="point">4 Bed | 3 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card13 sameimg"></div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        31 Eva Crescent, <br />
                        PIGGABEEN
                      </h4>
                      <p class="point">6 Bed | 3 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card14 sameimg"></div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        3 / 28 Alexander Court, TWEED <br />
                        HEADS SOUTH
                      </h4>
                      <p class="point">3 Bed | 1 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-xxl-4 col-md-6 col-sm-12">
          <div class="wrapper">
            <div class="container-fostrap">
              <div class="content">
                <div class="container">
                  <div class="card">
                    <div class="img-card15 sameimg"></div>
                    <div class="card-content">
                      <h4 class="card-title fs-18 same">
                        67 Panorama Drive, <br />
                        TWEED HEADS WEST
                      </h4>
                      <p class="point">4 Bed | 2 Bath</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Brent Hodge, Real Specialists -->
<section>
  <div class="information">
    <div class="container-fluid">
      <div class="amazng">
        <div class="container">
          <div
            id="carouselExampleControlsNoTouching"
            class="carousel slide"
            data-bs-touch="false"
            data-bs-interval="false"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="text-center">
                  <img
                    src="../../../assets/market/quote@3x.png"
                    class="quotes"
                    alt="..."
                  />
                  <p class="amazing same fs-18">
                    "Brent Hodge was amazing. Explanations and almost daily
                    updates, feedback and recommendations. <br />
                    Friendly, punctual and knowledge worthy"
                  </p>
                  <p class="Vanessa same">Rick & Vanessa</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="text-center">
                  <img
                    src="../../../assets/market/quote@3x.png"
                    class="quotes"
                    alt="..."
                  />
                  <p class="amazing same fs-18">
                    "Brent Hodge was amazing. Explanations and almost daily
                    updates, feedback and recommendations. <br />
                    Friendly, punctual and knowledge worthy"
                  </p>
                  <p class="Vanessa same">Rick & Vanessa</p>
                </div>
              </div>
              <div class="carousel-item">
                <div class="text-center">
                  <img
                    src="../../../assets/market/quote@3x.png"
                    class="quotes"
                    alt="..."
                  />
                  <p class="amazing same fs-18">
                    "Brent Hodge was amazing. Explanations and almost daily
                    updates, feedback and recommendations. <br />
                    Friendly, punctual and knowledge worthy"
                  </p>
                  <p class="Vanessa same">Rick & Vanessa</p>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="prev"
            >
              <img
                class="prev"
                src="../../../assets/market/prev@3x.png"
                alt=""
              />
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControlsNoTouching"
              data-bs-slide="next"
            >
              <img
                class="prev"
                src="../../../assets/market/next@3x.png"
                alt=""
              />
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- last section -->
<section>
  <div class="container">
    <div class="sigbature mt-5">
      <img src="../../../assets/market/SIGNATURE.svg" alt="" />
      <p class="Specialists_Real fs-18">Brent Hodge, Real Specialists</p>
    </div>
  </div>
</section>
